[Desktop Entry]
Categories=System;Settings;Utility;
Encoding=UTF-8
Name=MControlCenter
GenericName=Change MSI Laptop Settings
GenericName[ru]=Изменение настроек ноутбука MSI
GenericName[pt]=Alterar Definições de Portáteis MSI
GenericName[es]=Modifica los ajustos de portátiles MSI
GenericName[nb]=Endre innstillinger til MSI-laptop
GenericName[tr]=MSI Laptop Ayarlarını Değiştir
GenericName[pt_br]=Mudar Definições de Portáteis MSI
GenericName[it]=Modifica impostazioni del portatile MSI
GenericName[de_DE]=Ändern der MSI Laptop Einstellungen
GenericName[hu]=Változtasd meg az MSI Laptop beállításait
Type=Application
Exec=mcontrolcenter
Icon=mcontrolcenter
