[Desktop Entry]
Categories=System;Settings;Utility;
Encoding=UTF-8
Name=MControlCenter
GenericName=Change MSI Laptop Settings
Type=Application
Exec=mcontrolcenter
Icon=mcontrolcenter
