[Desktop Entry]
Categories=System;Settings;Utility;
Encoding=UTF-8
Name=MControlCenter
GenericName=Change MSI Laptop Settings
GenericName[ru]=Изменение настроек ноутбука MSI
Type=Application
Exec=mcontrolcenter
Icon=mcontrolcenter
